<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.flagship.dao.FinanceDailyDistrictMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.flagship.model.FinanceDailyDistrict" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_date" property="recordDate" jdbcType="DATE" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="loan_value" property="loanValue" jdbcType="DECIMAL" />
    <result column="accumu_loan_value" property="accumuLoanValue" jdbcType="DECIMAL" />
    <result column="apply_quantity" property="applyQuantity" jdbcType="INTEGER" />
    <result column="accumu_approval_rate" property="accumuApprovalRate" jdbcType="DECIMAL" />
    <result column="accumu_approval_average" property="accumuApprovalAverage" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, record_date, district_name, loan_value, accumu_loan_value, apply_quantity, accumu_approval_rate, 
    accumu_approval_average, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.flagship.model.FinanceDailyDistrictExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_finance_daily_district
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f_finance_daily_district
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_finance_daily_district
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.flagship.model.FinanceDailyDistrictExample" >
    delete from f_finance_daily_district
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.flagship.model.FinanceDailyDistrict" >
    insert into f_finance_daily_district (id, record_date, district_name, 
      loan_value, accumu_loan_value, apply_quantity, 
      accumu_approval_rate, accumu_approval_average, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{recordDate,jdbcType=DATE}, #{districtName,jdbcType=VARCHAR}, 
      #{loanValue,jdbcType=DECIMAL}, #{accumuLoanValue,jdbcType=DECIMAL}, #{applyQuantity,jdbcType=INTEGER}, 
      #{accumuApprovalRate,jdbcType=DECIMAL}, #{accumuApprovalAverage,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.flagship.model.FinanceDailyDistrict" >
    insert into f_finance_daily_district
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordDate != null" >
        record_date,
      </if>
      <if test="districtName != null" >
        district_name,
      </if>
      <if test="loanValue != null" >
        loan_value,
      </if>
      <if test="accumuLoanValue != null" >
        accumu_loan_value,
      </if>
      <if test="applyQuantity != null" >
        apply_quantity,
      </if>
      <if test="accumuApprovalRate != null" >
        accumu_approval_rate,
      </if>
      <if test="accumuApprovalAverage != null" >
        accumu_approval_average,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="districtName != null" >
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="loanValue != null" >
        #{loanValue,jdbcType=DECIMAL},
      </if>
      <if test="accumuLoanValue != null" >
        #{accumuLoanValue,jdbcType=DECIMAL},
      </if>
      <if test="applyQuantity != null" >
        #{applyQuantity,jdbcType=INTEGER},
      </if>
      <if test="accumuApprovalRate != null" >
        #{accumuApprovalRate,jdbcType=DECIMAL},
      </if>
      <if test="accumuApprovalAverage != null" >
        #{accumuApprovalAverage,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.flagship.model.FinanceDailyDistrictExample" resultType="java.lang.Integer" >
    select count(*) from f_finance_daily_district
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_finance_daily_district
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordDate != null" >
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.districtName != null" >
        district_name = #{record.districtName,jdbcType=VARCHAR},
      </if>
      <if test="record.loanValue != null" >
        loan_value = #{record.loanValue,jdbcType=DECIMAL},
      </if>
      <if test="record.accumuLoanValue != null" >
        accumu_loan_value = #{record.accumuLoanValue,jdbcType=DECIMAL},
      </if>
      <if test="record.applyQuantity != null" >
        apply_quantity = #{record.applyQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.accumuApprovalRate != null" >
        accumu_approval_rate = #{record.accumuApprovalRate,jdbcType=DECIMAL},
      </if>
      <if test="record.accumuApprovalAverage != null" >
        accumu_approval_average = #{record.accumuApprovalAverage,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_finance_daily_district
    set id = #{record.id,jdbcType=BIGINT},
      record_date = #{record.recordDate,jdbcType=DATE},
      district_name = #{record.districtName,jdbcType=VARCHAR},
      loan_value = #{record.loanValue,jdbcType=DECIMAL},
      accumu_loan_value = #{record.accumuLoanValue,jdbcType=DECIMAL},
      apply_quantity = #{record.applyQuantity,jdbcType=INTEGER},
      accumu_approval_rate = #{record.accumuApprovalRate,jdbcType=DECIMAL},
      accumu_approval_average = #{record.accumuApprovalAverage,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.flagship.model.FinanceDailyDistrict" >
    update f_finance_daily_district
    <set >
      <if test="recordDate != null" >
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="districtName != null" >
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="loanValue != null" >
        loan_value = #{loanValue,jdbcType=DECIMAL},
      </if>
      <if test="accumuLoanValue != null" >
        accumu_loan_value = #{accumuLoanValue,jdbcType=DECIMAL},
      </if>
      <if test="applyQuantity != null" >
        apply_quantity = #{applyQuantity,jdbcType=INTEGER},
      </if>
      <if test="accumuApprovalRate != null" >
        accumu_approval_rate = #{accumuApprovalRate,jdbcType=DECIMAL},
      </if>
      <if test="accumuApprovalAverage != null" >
        accumu_approval_average = #{accumuApprovalAverage,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.flagship.model.FinanceDailyDistrict" >
    update f_finance_daily_district
    set record_date = #{recordDate,jdbcType=DATE},
      district_name = #{districtName,jdbcType=VARCHAR},
      loan_value = #{loanValue,jdbcType=DECIMAL},
      accumu_loan_value = #{accumuLoanValue,jdbcType=DECIMAL},
      apply_quantity = #{applyQuantity,jdbcType=INTEGER},
      accumu_approval_rate = #{accumuApprovalRate,jdbcType=DECIMAL},
      accumu_approval_average = #{accumuApprovalAverage,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="financeDistrictOfDayList" resultType="hashmap" parameterType="hashmap">
  
	 SELECT
	 
		d.district_name districtName ,  <!-- 区域名称 -->
		d.loan_value loanValue, <!-- 当日放款额-->
		d.accumu_loan_value accumuLoanValue, <!-- 累计放款额 -->
		d.apply_quantity applyQuantity, <!-- 当日进件件数 -->
		d.accumu_approval_rate * 100 accumuApprovalRate ,<!-- 累计批核率 --> 
		d.accumu_approval_average accumuApprovalAverage, <!-- 累计批核件均-->
		(
			SELECT
				COUNT(id)
			FROM
				f_finance_daily_district d1
			WHERE
				d1.accumu_approval_rate > d.accumu_approval_rate
			AND d1.record_date =#{recordDate}
		) + 1 AS accumuApprovalRateRanking, <!-- 批核率排名 -->
		(
			SELECT
				COUNT(id)
			FROM
				f_finance_daily_district d1
			WHERE
				d1.accumu_approval_average > d.accumu_approval_average
				AND d1.record_date =#{recordDate}
		) + 1 AS accumuApprovalAverageRanking, <!-- 批核件均排名 -->
		(
			SELECT
				COUNT(id)
			FROM
				f_finance_daily_district d1
			WHERE
				d1.loan_value > d.loan_value
				AND d1.record_date =#{recordDate}
		) + 1 AS loanValueRanking, <!-- 当日放款金额排名 -->
		ROUND(
			(d.accumu_loan_value / p.month_plan )*100,2
		)  planYieldRate, <!-- 计划完成率 -->
		(
			SELECT
				COUNT(d2.id)
			FROM
				f_finance_daily_district d2
			JOIN f_finance_personal_info p2 ON d2.district_name = p2.manage_office
			AND p2.record_date=DATE_ADD(#{recordDate},INTERVAL -DAY(#{recordDate})+1 DAY)
			AND p2.org_name = '合计'
			WHERE
				d2.accumu_loan_value / p2.month_plan > d.accumu_loan_value / p.month_plan
				AND d2.record_date =#{recordDate}

		) + 1 AS planYieldRateRanking,<!-- 计划完成率排名-->
		ROUND(
		d.apply_quantity / p.sales_num ,2
	     ) applyQuantityAvg,<!-- 人均进件数 -->
		(
			SELECT
				COUNT(d2.id)
			FROM
				f_finance_daily_district d2
			JOIN f_finance_personal_info p2 ON d2.district_name = p2.manage_office
			AND p2.record_date=DATE_ADD(#{recordDate},INTERVAL -DAY(#{recordDate})+1 DAY)
			AND p2.org_name = '合计'
			WHERE
				d2.apply_quantity / p2.sales_num > d.apply_quantity / p.sales_num
				AND d2.record_date =#{recordDate}
		) + 1 AS applyQuantityRanking <!--人均进件数排名 -->
	FROM
		f_finance_daily_district d
	JOIN f_finance_personal_info p ON d.district_name = p.manage_office
		AND p.record_date=DATE_ADD(d.record_date,INTERVAL -DAY(d.record_date)+1 DAY)
	WHERE
		d.record_date =#{recordDate} 
	AND p.org_name = '合计'
	AND d.district_name = #{districtName}
	ORDER BY d.create_time DESC
	LIMIT 1	 
  </select>
  
  <select id="getDiffOfCountAndDistrictNumByDate" resultType="hashmap" parameterType="Date">
  	SELECT record_date ,COUNT(district_name) -COUNT(DISTINCT district_name) diff
	FROM f_finance_daily_district
	GROUP BY record_date
	HAVING record_date=#{date,jdbcType=DATE}
  </select>
  
</mapper>