<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.flagship.dao.MoneymgrOrgAccumuPerfromancePageMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_date" property="recordDate" jdbcType="DATE" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="accumu_performance" property="accumuPerformance" jdbcType="DECIMAL" />
    <result column="district_principal" property="districtPrincipal" jdbcType="VARCHAR" />
    <result column="org_principal" property="orgPrincipal" jdbcType="VARCHAR" />
    <result column="accumu_complete_rate" property="accumuCompleteRate" jdbcType="DECIMAL" />
    <result column="per_capita_capacity" property="perCapitaCapacity" jdbcType="DECIMAL" />
    <result column="per_capita_new_client" property="perCapitaNewClient" jdbcType="DECIMAL" />
    <result column="counselor_manager_ratio" property="counselorManagerRatio" jdbcType="DECIMAL" />
    <result column="counselor_num" property="counselorNum" jdbcType="INTEGER" />
    <result column="manager_num" property="managerNum" jdbcType="INTEGER" />
    <result column="ranking" property="ranking" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, record_date, org_name, accumu_performance, district_principal, org_principal, 
    accumu_complete_rate, per_capita_capacity, per_capita_new_client, counselor_manager_ratio, 
    counselor_num, manager_num, ranking
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_moneymgr_org_accumu_perfromance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f_moneymgr_org_accumu_perfromance_page
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_moneymgr_org_accumu_perfromance_page
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePageExample" >
    delete from f_moneymgr_org_accumu_perfromance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePage" >
    insert into f_moneymgr_org_accumu_perfromance_page (id, record_date, org_name, 
      accumu_performance, district_principal, org_principal, 
      accumu_complete_rate, per_capita_capacity, 
      per_capita_new_client, counselor_manager_ratio, 
      counselor_num, manager_num, ranking
      )
    values (#{id,jdbcType=BIGINT}, #{recordDate,jdbcType=DATE}, #{orgName,jdbcType=VARCHAR}, 
      #{accumuPerformance,jdbcType=DECIMAL}, #{districtPrincipal,jdbcType=VARCHAR}, #{orgPrincipal,jdbcType=VARCHAR}, 
      #{accumuCompleteRate,jdbcType=DECIMAL}, #{perCapitaCapacity,jdbcType=DECIMAL}, 
      #{perCapitaNewClient,jdbcType=DECIMAL}, #{counselorManagerRatio,jdbcType=DECIMAL}, 
      #{counselorNum,jdbcType=INTEGER}, #{managerNum,jdbcType=INTEGER}, #{ranking,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePage" >
    insert into f_moneymgr_org_accumu_perfromance_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordDate != null" >
        record_date,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="accumuPerformance != null" >
        accumu_performance,
      </if>
      <if test="districtPrincipal != null" >
        district_principal,
      </if>
      <if test="orgPrincipal != null" >
        org_principal,
      </if>
      <if test="accumuCompleteRate != null" >
        accumu_complete_rate,
      </if>
      <if test="perCapitaCapacity != null" >
        per_capita_capacity,
      </if>
      <if test="perCapitaNewClient != null" >
        per_capita_new_client,
      </if>
      <if test="counselorManagerRatio != null" >
        counselor_manager_ratio,
      </if>
      <if test="counselorNum != null" >
        counselor_num,
      </if>
      <if test="managerNum != null" >
        manager_num,
      </if>
      <if test="ranking != null" >
        ranking,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="accumuPerformance != null" >
        #{accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="districtPrincipal != null" >
        #{districtPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="orgPrincipal != null" >
        #{orgPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="accumuCompleteRate != null" >
        #{accumuCompleteRate,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaCapacity != null" >
        #{perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaNewClient != null" >
        #{perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="counselorManagerRatio != null" >
        #{counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="counselorNum != null" >
        #{counselorNum,jdbcType=INTEGER},
      </if>
      <if test="managerNum != null" >
        #{managerNum,jdbcType=INTEGER},
      </if>
      <if test="ranking != null" >
        #{ranking,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePageExample" resultType="java.lang.Integer" >
    select count(*) from f_moneymgr_org_accumu_perfromance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_moneymgr_org_accumu_perfromance_page
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordDate != null" >
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.accumuPerformance != null" >
        accumu_performance = #{record.accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="record.districtPrincipal != null" >
        district_principal = #{record.districtPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.orgPrincipal != null" >
        org_principal = #{record.orgPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="record.accumuCompleteRate != null" >
        accumu_complete_rate = #{record.accumuCompleteRate,jdbcType=DECIMAL},
      </if>
      <if test="record.perCapitaCapacity != null" >
        per_capita_capacity = #{record.perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="record.perCapitaNewClient != null" >
        per_capita_new_client = #{record.perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="record.counselorManagerRatio != null" >
        counselor_manager_ratio = #{record.counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.counselorNum != null" >
        counselor_num = #{record.counselorNum,jdbcType=INTEGER},
      </if>
      <if test="record.managerNum != null" >
        manager_num = #{record.managerNum,jdbcType=INTEGER},
      </if>
      <if test="record.ranking != null" >
        ranking = #{record.ranking,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_moneymgr_org_accumu_perfromance_page
    set id = #{record.id,jdbcType=BIGINT},
      record_date = #{record.recordDate,jdbcType=DATE},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      accumu_performance = #{record.accumuPerformance,jdbcType=DECIMAL},
      district_principal = #{record.districtPrincipal,jdbcType=VARCHAR},
      org_principal = #{record.orgPrincipal,jdbcType=VARCHAR},
      accumu_complete_rate = #{record.accumuCompleteRate,jdbcType=DECIMAL},
      per_capita_capacity = #{record.perCapitaCapacity,jdbcType=DECIMAL},
      per_capita_new_client = #{record.perCapitaNewClient,jdbcType=DECIMAL},
      counselor_manager_ratio = #{record.counselorManagerRatio,jdbcType=DECIMAL},
      counselor_num = #{record.counselorNum,jdbcType=INTEGER},
      manager_num = #{record.managerNum,jdbcType=INTEGER},
      ranking = #{record.ranking,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePage" >
    update f_moneymgr_org_accumu_perfromance_page
    <set >
      <if test="recordDate != null" >
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="accumuPerformance != null" >
        accumu_performance = #{accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="districtPrincipal != null" >
        district_principal = #{districtPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="orgPrincipal != null" >
        org_principal = #{orgPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="accumuCompleteRate != null" >
        accumu_complete_rate = #{accumuCompleteRate,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaCapacity != null" >
        per_capita_capacity = #{perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaNewClient != null" >
        per_capita_new_client = #{perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="counselorManagerRatio != null" >
        counselor_manager_ratio = #{counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="counselorNum != null" >
        counselor_num = #{counselorNum,jdbcType=INTEGER},
      </if>
      <if test="managerNum != null" >
        manager_num = #{managerNum,jdbcType=INTEGER},
      </if>
      <if test="ranking != null" >
        ranking = #{ranking,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerfromancePage" >
    update f_moneymgr_org_accumu_perfromance_page
    set record_date = #{recordDate,jdbcType=DATE},
      org_name = #{orgName,jdbcType=VARCHAR},
      accumu_performance = #{accumuPerformance,jdbcType=DECIMAL},
      district_principal = #{districtPrincipal,jdbcType=VARCHAR},
      org_principal = #{orgPrincipal,jdbcType=VARCHAR},
      accumu_complete_rate = #{accumuCompleteRate,jdbcType=DECIMAL},
      per_capita_capacity = #{perCapitaCapacity,jdbcType=DECIMAL},
      per_capita_new_client = #{perCapitaNewClient,jdbcType=DECIMAL},
      counselor_manager_ratio = #{counselorManagerRatio,jdbcType=DECIMAL},
      counselor_num = #{counselorNum,jdbcType=INTEGER},
      manager_num = #{managerNum,jdbcType=INTEGER},
      ranking = #{ranking,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <!-- 批量插入机构月累计业绩地图结果数据 -->
  <insert id="insertAccumuPerformancePages" parameterType="java.util.List">
  	insert into f_moneymgr_org_accumu_perfromance_page 
  		(	
  			record_date,org_name,accumu_performance,district_principal,
			org_principal,accumu_complete_rate,per_capita_capacity,
			per_capita_new_client,counselor_manager_ratio,
			counselor_num,manager_num,ranking
		) values
	<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.recordDate,jdbcType=DATE},
			#{item.orgName,jdbcType=VARCHAR},
			#{item.accumuPerformance,jdbcType=DECIMAL},
			#{item.districtPrincipal,jdbcType=VARCHAR},
			#{item.orgPrincipal,jdbcType=VARCHAR},
			#{item.accumuCompleteRate,jdbcType=DECIMAL},
			#{item.perCapitaCapacity,jdbcType=DECIMAL},
			#{item.perCapitaNewClient,jdbcType=DECIMAL},
			#{item.counselorManagerRatio,jdbcType=DECIMAL},
			#{item.counselorNum,jdbcType=INTEGER},
			#{item.managerNum,jdbcType=INTEGER},
			#{item.ranking,jdbcType=INTEGER}
		)
  	</foreach>
  </insert>

  <!--  理财H5接口 各机构当月累计业绩 -->
  <select id="findPerformanceOrgMapByDays" resultType="hashmap" parameterType="hashmap">
    SELECT
    record_date, page.org_name orgName, accumu_performance accumuPerformance, org_principal principal,
    accumu_complete_rate accumuCompleteRate, per_capita_capacity perCapitaCapacity,district_principal districtPrincipal,
    per_capita_new_client perCapitaNewClient, counselor_manager_ratio counselorManagerRatio,
    counselor_num counselorNum, manager_num managerNum, ranking, org.abscissa lgt, org.ordinate lat
    FROM f_moneymgr_org_accumu_perfromance_page page
	INNER JOIN f_org_location org ON page.org_name = org.org_name
	WHERE record_date = #{dateString}
  </select>

  <!--  理财H5接口 区域 各机构当月累计达成率 -->
  <select id="findAreaPerformanceByOrgName" resultType="hashmap" parameterType="hashmap">
    SELECT
    page.org_name orgName, accumu_performance accumuPerformance, page.district_principal districtPrincipal,
    accumu_complete_rate accumuCompleteRate,  page.org_principal orgPrincipal,  per_capita_capacity perCapitaCapacity,
    per_capita_new_client perCapitaNewClient, counselor_manager_ratio counselorManagerRatio,
    counselor_num counselorNum, manager_num managerNum, ranking, org.abscissa lgt, org.ordinate lat
    FROM f_moneymgr_org_accumu_perfromance_page page
    INNER JOIN f_org_location org ON page.org_name = org.org_name
    WHERE page.record_date = #{dateString}
    <if test="orgNameList!=null and orgNameList.length!=0">
	  AND page.org_name IN
      <foreach item="item" index="index" collection="orgNameList" open="("
               separator="," close=")">
        #{item}
      </foreach>
    </if>
    ORDER BY accumuCompleteRate desc 
  </select>

  <!-- 模糊查询机构名称 -->
  <select id="findLikeOrgName" resultType="hashmap" parameterType="hashmap">
    SELECT DISTINCT org_name orgName
	FROM f_moneymgr_org_accumu_perfromance_page
	WHERE org_name LIKE CONCAT('%',#{orgName},'%')
  </select>
</mapper>