<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.flagship.dao.MoneymgrOrgAccumuPerformanceMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformance" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_date" property="recordDate" jdbcType="DATE" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="performance_value" property="performanceValue" jdbcType="DECIMAL" />
    <result column="performance_ranking" property="performanceRanking" jdbcType="INTEGER" />
    <result column="new_client_num" property="newClientNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, record_date, org_name, performance_value, performance_ranking, new_client_num, 
    create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_moneymgr_org_accumu_performance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f_moneymgr_org_accumu_performance
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_moneymgr_org_accumu_performance
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformanceExample" >
    delete from f_moneymgr_org_accumu_performance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformance" >
    insert into f_moneymgr_org_accumu_performance (id, record_date, org_name, 
      performance_value, performance_ranking, new_client_num, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{recordDate,jdbcType=DATE}, #{orgName,jdbcType=VARCHAR}, 
      #{performanceValue,jdbcType=DECIMAL}, #{performanceRanking,jdbcType=INTEGER}, #{newClientNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformance" >
    insert into f_moneymgr_org_accumu_performance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordDate != null" >
        record_date,
      </if>
      <if test="orgName != null" >
        org_name,
      </if>
      <if test="performanceValue != null" >
        performance_value,
      </if>
      <if test="performanceRanking != null" >
        performance_ranking,
      </if>
      <if test="newClientNum != null" >
        new_client_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="performanceValue != null" >
        #{performanceValue,jdbcType=DECIMAL},
      </if>
      <if test="performanceRanking != null" >
        #{performanceRanking,jdbcType=INTEGER},
      </if>
      <if test="newClientNum != null" >
        #{newClientNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformanceExample" resultType="java.lang.Integer" >
    select count(*) from f_moneymgr_org_accumu_performance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_moneymgr_org_accumu_performance
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordDate != null" >
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.orgName != null" >
        org_name = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.performanceValue != null" >
        performance_value = #{record.performanceValue,jdbcType=DECIMAL},
      </if>
      <if test="record.performanceRanking != null" >
        performance_ranking = #{record.performanceRanking,jdbcType=INTEGER},
      </if>
      <if test="record.newClientNum != null" >
        new_client_num = #{record.newClientNum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_moneymgr_org_accumu_performance
    set id = #{record.id,jdbcType=BIGINT},
      record_date = #{record.recordDate,jdbcType=DATE},
      org_name = #{record.orgName,jdbcType=VARCHAR},
      performance_value = #{record.performanceValue,jdbcType=DECIMAL},
      performance_ranking = #{record.performanceRanking,jdbcType=INTEGER},
      new_client_num = #{record.newClientNum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformance" >
    update f_moneymgr_org_accumu_performance
    <set >
      <if test="recordDate != null" >
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="orgName != null" >
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="performanceValue != null" >
        performance_value = #{performanceValue,jdbcType=DECIMAL},
      </if>
      <if test="performanceRanking != null" >
        performance_ranking = #{performanceRanking,jdbcType=INTEGER},
      </if>
      <if test="newClientNum != null" >
        new_client_num = #{newClientNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.flagship.model.MoneymgrOrgAccumuPerformance" >
    update f_moneymgr_org_accumu_performance
    set record_date = #{recordDate,jdbcType=DATE},
      org_name = #{orgName,jdbcType=VARCHAR},
      performance_value = #{performanceValue,jdbcType=DECIMAL},
      performance_ranking = #{performanceRanking,jdbcType=INTEGER},
      new_client_num = #{newClientNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countOrgNum" resultType="java.lang.Integer" parameterType="java.lang.String" >
    SELECT COUNT(1) orgNum FROM f_moneymgr_org_accumu_performance
    WHERE record_date = #{dateString}
  </select>
  
  <select id="getDiffOfCountAndOrgNumByDate" resultType="hashmap" parameterType="Date">
  	SELECT record_date ,COUNT(org_name) -COUNT(DISTINCT org_name) diff
	FROM f_moneymgr_org_accumu_performance
	GROUP BY record_date
	HAVING record_date=#{date,jdbcType=DATE}
  </select>
</mapper>