<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzcf.flagship.dao.MoneymgrDistrictAccumuPerformancePageMapper" >
  <resultMap id="BaseResultMap" type="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_date" property="recordDate" jdbcType="DATE" />
    <result column="district_name" property="districtName" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="org_num" property="orgNum" jdbcType="INTEGER" />
    <result column="accumu_performance" property="accumuPerformance" jdbcType="DECIMAL" />
    <result column="complete_rate" property="completeRate" jdbcType="DECIMAL" />
    <result column="per_capita_new_client" property="perCapitaNewClient" jdbcType="DECIMAL" />
    <result column="per_capita_capacity" property="perCapitaCapacity" jdbcType="DECIMAL" />
    <result column="counselor_manager_ratio" property="counselorManagerRatio" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, record_date, district_name, principal, org_num, accumu_performance, complete_rate, 
    per_capita_new_client, per_capita_capacity, counselor_manager_ratio, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_moneymgr_district_accumu_performance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from f_moneymgr_district_accumu_performance_page
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from f_moneymgr_district_accumu_performance_page
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePageExample" >
    delete from f_moneymgr_district_accumu_performance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePage" >
    insert into f_moneymgr_district_accumu_performance_page (id, record_date, district_name, 
      principal, org_num, accumu_performance, 
      complete_rate, per_capita_new_client, per_capita_capacity, 
      counselor_manager_ratio, create_time)
    values (#{id,jdbcType=BIGINT}, #{recordDate,jdbcType=DATE}, #{districtName,jdbcType=VARCHAR}, 
      #{principal,jdbcType=VARCHAR}, #{orgNum,jdbcType=INTEGER}, #{accumuPerformance,jdbcType=DECIMAL}, 
      #{completeRate,jdbcType=DECIMAL}, #{perCapitaNewClient,jdbcType=DECIMAL}, #{perCapitaCapacity,jdbcType=DECIMAL}, 
      #{counselorManagerRatio,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePage" >
    insert into f_moneymgr_district_accumu_performance_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordDate != null" >
        record_date,
      </if>
      <if test="districtName != null" >
        district_name,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="orgNum != null" >
        org_num,
      </if>
      <if test="accumuPerformance != null" >
        accumu_performance,
      </if>
      <if test="completeRate != null" >
        complete_rate,
      </if>
      <if test="perCapitaNewClient != null" >
        per_capita_new_client,
      </if>
      <if test="perCapitaCapacity != null" >
        per_capita_capacity,
      </if>
      <if test="counselorManagerRatio != null" >
        counselor_manager_ratio,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordDate != null" >
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="districtName != null" >
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null" >
        #{orgNum,jdbcType=INTEGER},
      </if>
      <if test="accumuPerformance != null" >
        #{accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="completeRate != null" >
        #{completeRate,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaNewClient != null" >
        #{perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaCapacity != null" >
        #{perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="counselorManagerRatio != null" >
        #{counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePageExample" resultType="java.lang.Integer" >
    select count(*) from f_moneymgr_district_accumu_performance_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update f_moneymgr_district_accumu_performance_page
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.recordDate != null" >
        record_date = #{record.recordDate,jdbcType=DATE},
      </if>
      <if test="record.districtName != null" >
        district_name = #{record.districtName,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.orgNum != null" >
        org_num = #{record.orgNum,jdbcType=INTEGER},
      </if>
      <if test="record.accumuPerformance != null" >
        accumu_performance = #{record.accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="record.completeRate != null" >
        complete_rate = #{record.completeRate,jdbcType=DECIMAL},
      </if>
      <if test="record.perCapitaNewClient != null" >
        per_capita_new_client = #{record.perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="record.perCapitaCapacity != null" >
        per_capita_capacity = #{record.perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="record.counselorManagerRatio != null" >
        counselor_manager_ratio = #{record.counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update f_moneymgr_district_accumu_performance_page
    set id = #{record.id,jdbcType=BIGINT},
      record_date = #{record.recordDate,jdbcType=DATE},
      district_name = #{record.districtName,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      org_num = #{record.orgNum,jdbcType=INTEGER},
      accumu_performance = #{record.accumuPerformance,jdbcType=DECIMAL},
      complete_rate = #{record.completeRate,jdbcType=DECIMAL},
      per_capita_new_client = #{record.perCapitaNewClient,jdbcType=DECIMAL},
      per_capita_capacity = #{record.perCapitaCapacity,jdbcType=DECIMAL},
      counselor_manager_ratio = #{record.counselorManagerRatio,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePage" >
    update f_moneymgr_district_accumu_performance_page
    <set >
      <if test="recordDate != null" >
        record_date = #{recordDate,jdbcType=DATE},
      </if>
      <if test="districtName != null" >
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="orgNum != null" >
        org_num = #{orgNum,jdbcType=INTEGER},
      </if>
      <if test="accumuPerformance != null" >
        accumu_performance = #{accumuPerformance,jdbcType=DECIMAL},
      </if>
      <if test="completeRate != null" >
        complete_rate = #{completeRate,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaNewClient != null" >
        per_capita_new_client = #{perCapitaNewClient,jdbcType=DECIMAL},
      </if>
      <if test="perCapitaCapacity != null" >
        per_capita_capacity = #{perCapitaCapacity,jdbcType=DECIMAL},
      </if>
      <if test="counselorManagerRatio != null" >
        counselor_manager_ratio = #{counselorManagerRatio,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hzcf.flagship.model.MoneymgrDistrictAccumuPerformancePage" >
    update f_moneymgr_district_accumu_performance_page
    set record_date = #{recordDate,jdbcType=DATE},
      district_name = #{districtName,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      org_num = #{orgNum,jdbcType=INTEGER},
      accumu_performance = #{accumuPerformance,jdbcType=DECIMAL},
      complete_rate = #{completeRate,jdbcType=DECIMAL},
      per_capita_new_client = #{perCapitaNewClient,jdbcType=DECIMAL},
      per_capita_capacity = #{perCapitaCapacity,jdbcType=DECIMAL},
      counselor_manager_ratio = #{counselorManagerRatio,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <!-- 查询区域列表 -->
  <select id="selectMoneymgrEfficiencyForMonthByDay" parameterType="String" resultType="hashmap">
		SELECT
			*
		FROM
			(
				SELECT
					district_name districtName,
					principal,
					org_num orgNum,
					accumu_performance accumuPerformance,
					complete_rate completeRate,
					per_capita_new_client perCapitaNewClient,
					counselor_manager_ratio counselorManagerRatio,
					per_capita_capacity perCapitaCapacity
				FROM
					f_moneymgr_district_accumu_performance_page
				WHERE
					record_date = #{days}
				ORDER BY
					completeRate DESC,
					create_time DESC
			) t
		GROUP BY
			districtName
		ORDER BY
			completeRate DESC
  </select>
  
  <!-- 批量插入机构业绩结果页 -->
  <insert id="insertDistrictAccumuPerformancePages" parameterType="java.util.List">
  	INSERT INTO f_moneymgr_district_accumu_performance_page
	(
		record_date,district_name,principal,org_num,accumu_performance,
		complete_rate,per_capita_new_client,per_capita_capacity,
		counselor_manager_ratio,create_time

	)VALUES
	<foreach collection="list" item="item" index="index" separator=",">
	(
		#{item.recordDate,jdbcType=DATE},
		#{item.districtName,jdbcType=VARCHAR},
		#{item.principal,jdbcType=VARCHAR},
		#{item.orgNum,jdbcType=INTEGER},
		#{item.accumuPerformance,jdbcType=DECIMAL},
		#{item.completeRate,jdbcType=DECIMAL},
		#{item.perCapitaNewClient,jdbcType=DECIMAL},
		#{item.perCapitaCapacity,jdbcType=DECIMAL},
		#{item.counselorManagerRatio,jdbcType=DECIMAL},
		#{item.createTime,jdbcType=TIMESTAMP}
	)
	</foreach>
  </insert>
  
</mapper>